.assigned {
	background-color: #252525;
	background-color: #2c4760;
	color: #9BC6DD;
	//color: #677f94;
	// border-top: 1px solid #2c4760;
	// border-bottom: 1px solid #677f94;
}

.done {
	background-color: #0E3D01;
	//color: #3C8129;
	color: #6BBA5B;
}

.help {
	background-color: #FFFC00;
	//background-color: #F9EC00;
	color: black;
}

// .pending {
// 	border-bottom: 1px solid #131300;
// 	border-top: 1px solid #353500;
// }

